In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
docs = [
  'the cat sat',
  'the cat sat in the hat',
  'the cat with the hat',
]

In [3]:
tfvectorizer = TfidfVectorizer()
vector = tfvectorizer.fit_transform(docs)

In [13]:
import pandas as pd
# print(tfvectorizer.get_feature_names())
# print(vector.toarray())
pd.DataFrame(vector.toarray(), columns=tfvectorizer.get_feature_names())

        cat       hat        in       sat       the      with
0  0.522842  0.000000  0.000000  0.673255  0.522842  0.000000
1  0.299034  0.385061  0.506309  0.385061  0.598068  0.000000
2  0.324019  0.417233  0.000000  0.000000  0.648038  0.548612